<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        <header>
            <h1>Junior Backend Developer</h1>
            <!-- <span><time>2019.05 ~ 현재</time></span> -->
        </header>
        <br/>
        <p id="introduction">
            깊게 학습하는 것을 좋아합니다. <br/> 

            팀에 도움이 되고자 꾸준히 노력합니다. <br/>

            코드를 개선하기 위해 점진적으로 노력합니다.<br/>

            한번 배운 개념은 잊지않고 적극적으로 코드에 활용합니다.<br/> 

            (우아한형제들) 우아한테크코스에서 <mark>웹프로그래밍, 객체지향프로그래밍, TDD, ATDD</mark>를 학습했습니다.<br/> 

            <mark>탄탄한 테스트 코드</mark>를 짜는 것이 얼마나 중요한지 배웠습니다.<br/>
  
            <mark>페어프로그래밍</mark>, 팀프로젝트, 스터디 등 토론과 의견을 나누면서 개발하는 것을 좋아합니다.<br/>

            <mark>코드리뷰</mark>를 통해 더 나은 개발자로 성장하길 희망합니다.<br/>

            문제에 직면했을 때 자신만의 해법을 찾으려고 노력합니다.
        </p>
    </article>
</section>
