<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>우아한테크코스</h1>
            <span>우아한 형제들</span></br>
            <span>자바지기 박재성님이 창설한 교육프로그램으로 프로그래머로서 단단한 기초를 쌓을 수 있는 기회</span></br>
            <span><time>2019.05.07 ~ 2019.12.27</time></span>
        </header>
        <p>
            <em>
                <span>- 페어프로그래밍, 그룹프로젝트를 8개월동안 하면서 협업에 대해 배우고 고민할 수 있었습니다.</span><br/>
                <span>- 8개월동안 빠른 피드백 싸이클을 돌면서 빨리 학습하는게 무엇인지 배웠습니다.</span><br/>
                <span>- DI, 객체지향프로그래밍, Testing, Refactoring을 배웠습니다.</span><br/>
                <span>- 두 차례의 웹프로젝트를 ATDD,TDD로 개발하면서 프로그래밍을 연습했습니다.</span><br/>
                <span>- 코드리뷰의 중요성을 깨달았습니다.</span><br/>
            </em>
        </p>
    </article>
    <article>
        <header>
            <h1>고려대학교 졸업</h1>
        </header>
    </article>
</section>
